/* This file is only loaded when viewing a post.
   All of the styles are for articles and controls. */

body {
	padding-top: 80px; /* Clear for navbar */
}

div#controls {
	color: black;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

img, iframe { /* For embedded media in articles */
	float: right;
	padding: 20px;
	border: 0px;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

#text-controls button {
	width: 30px;
}

q:before, q:after { /* Prevents random quotation marks in articles */
    content: "";
}

div#content {
	font-size: 16px;
}

#content, #title, #author {
	font-family: Georgia, Times New Roman, serif;
}

#image-controls button {
	width: 200px;
}

.vjs-default-skin .vjs-big-play-button { /* Custom styling for video player */
	left: 40% !important;
	top: 40% !important;
	width: 25%;
	height: 25%;
}